---
swagger: "2.0"
info:
  description: "Met deze Instellingen API kan je informatie opvragen over instellingen\
    \ die onderwijs aanbieden of ondersteunen.<br ><br >Een instelling die zelf onderwijs\
    \ aanbiedt wordt ook kortweg een <b>onderwijsinstelling</b> genoemd. Het gaat\
    \ hier om een school, centrum, academie, hogeschool of universiteit.<br ><br >Een\
    \ instelling kan ook een <b>ondersteunende instelling</b> zijn&#58; ze zorgt voor\
    \ het goed functioneren van één of meerdere onderwijsinstellingen. Een ondersteunende\
    \ instelling is bv. een CLB, internaat, schoolbestuur, scholengemeenschap, koepel,\
    \ … <br ><br >Elke instelling heeft een uniek <b>instellingsnummer</b>. Dit instellingsnummer\
    \ bestaat uit 2 tot 6 cijfers."
  version: "2.0.0"
  title: "Instelling API"
  contact:
    name: "Eline Meeus - Ministerie van onderwijs en vorming"
    email: "eline.meeus@ond.vlaanderen.be"
  license:
    name: "Vlaamse Overheid Modellicentie Gratis Hergebruik - v 1.0,"
    url: "https://overheid.vlaanderen.be/modellicentie-gratis-hergebruik"
host: "onderwijs.api.vlaanderen.be"
basePath: "/instellingsgegevens/instelling/v2"
tags:
- name: "Instellingen"
  description: "Operaties om informatie over instellingen op te vragen."
schemes:
- "https"
produces:
- "application/json;charset=UTF-8"
security:
- ApiKeyAuthQueryParam: []
- ApiKeyAuthHeader: []
paths:
  /instelling:
    get:
      tags:
      - "Instellingen"
      summary: "Lijst met instellingen."
      description: "Raadpleeg een lijst met instellingen rekening houdend met zoektermen\
        \ en filters."
      operationId: "findInstellingenUsingGET"
      parameters:
      - name: "filter_instelling_bestuur"
        in: "query"
        description: "Filteren op instellingen die bestuurd worden door een bepaald\
          \ schoolbestuur. De waarde van deze filter is steeds het instellingsnummer\
          \ van het schoolbestuur."
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int32"
        collectionFormat: "csv"
      - name: "filter_instelling_biedt_deeltijds_aan"
        in: "query"
        description: "Filteren op deeltijds onderwijs."
        required: false
        type: "boolean"
        x-example: true
      - name: "filter_instelling_biedt_voltijds_aan"
        in: "query"
        description: "Filteren op voltijds onderwijs."
        required: false
        type: "boolean"
        x-example: true
      - name: "filter_instelling_buitengewoon"
        in: "query"
        description: "Filteren op gewoon of buitengewoon onderwijs."
        required: false
        type: "boolean"
        x-example: "false"
      - name: "filter_instelling_gemeente"
        in: "query"
        description: "Filteren op gemeentenaam van de instelling."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "filter_instelling_hoofdstructuur"
        in: "query"
        description: " Filteren op de hoofdstructuur ingericht door een instelling"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "111"
          - "121"
          - "211"
          - "221"
          - "311"
          - "312"
          - "313"
          - "314"
          - "315"
          - "316"
          - "317"
          - "321"
          - "411"
          - "416"
          - "417"
          - "511"
          - "618"
        collectionFormat: "csv"
      - name: "filter_instelling_levensbeschouwing"
        in: "query"
        description: "Filteren op levensbeschouwing die de instelling volgt."
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
        collectionFormat: "csv"
      - name: "filter_instelling_net"
        in: "query"
        description: "Filteren op net waartoe de instelling behoort."
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
        collectionFormat: "csv"
      - name: "filter_instelling_niveau"
        in: "query"
        description: "Filteren op het niveau van de instelling."
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "BAO"
          - "DKO"
          - "HO"
          - "CLB"
          - "SO"
          - "VWO"
          - "ANDERE"
          - "INTERNAAT"
          - "SB"
        collectionFormat: "csv"
      - name: "filter_instelling_pedagogische_methode"
        in: "query"
        description: "Filteren op pedagogische methode die de instelling toepast."
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          - "6"
          - "7"
          - "8"
          - "9"
          - "10"
        collectionFormat: "csv"
      - name: "filter_instelling_postcode"
        in: "query"
        description: "Filteren op postcode van de instelling."
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int32"
        collectionFormat: "csv"
        maximum: 9999
        exclusiveMaximum: false
        minimum: 1000
        exclusiveMinimum: false
      - name: "filter_instelling_scholengemeenschap"
        in: "query"
        description: "Filteren op instellingen die deel uitmaken van een bepaalde\
          \ scholengemeenschap. De waarde van deze filter is steeds het instellingsnummer\
          \ van de scholengemeenschap."
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int32"
        collectionFormat: "csv"
      - name: "filter_instelling_soort_bestuur"
        in: "query"
        description: "Filteren op code van het soort bestuur dat een schoolbestuur\
          \ is. "
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          - "6"
          - "7"
          - "8"
          - "9"
        collectionFormat: "csv"
      - name: "filter_instelling_status_erkenning"
        in: "query"
        description: "Filteren op de code van de status van de erkenning van de instelling."
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "E"
          - "I"
          - "N"
          - "S"
          - "W"
          - "X"
        collectionFormat: "csv"
      - name: "filter_instelling_taalstelsel"
        in: "query"
        description: "Filteren op taalstelsel dat toegelaten is voor de instelling."
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "1"
          - "3"
          - "5"
          - "7"
        collectionFormat: "csv"
      - name: "filter_instelling_type"
        in: "query"
        description: "Filteren op het type instelling"
        required: false
        type: "array"
        items:
          type: "string"
          enum:
          - "1000"
          - "1100"
          - "111"
          - "112"
          - "113"
          - "115"
          - "116"
          - "1200"
          - "121"
          - "122"
          - "123"
          - "124"
          - "125"
          - "126"
          - "131"
          - "132"
          - "133"
          - "134"
          - "135"
          - "141"
          - "142"
          - "151"
          - "200"
          - "300"
          - "400"
          - "500"
          - "600"
          - "700"
          - "900"
        collectionFormat: "csv"
      - name: "zoek_inclusief_fusiegemeente"
        in: "query"
        description: "Bij het zoeken op gemeentenaam of postcode ook alle bijhorende\
          \ fusiegemeenten (naam of postcode) mee betrekken."
        required: false
        type: "boolean"
        x-example: true
      - name: "zoek_inclusief_toekomst"
        in: "query"
        description: "Bij het zoeken op instellingen ook alle instellingen in de nabije\
          \ toekomst betrekken."
        required: false
        type: "boolean"
        x-example: true
      - name: "zoek_instelling_gemeente"
        in: "query"
        description: "Zoeken op gemeentenaam van de instelling."
        required: false
        type: "string"
        x-example: "MECHELEN"
      - name: "zoek_instelling_naam"
        in: "query"
        description: "Zoeken op naam van de instelling."
        required: false
        type: "string"
        x-example: "Technische Scholen Mechelen"
      - name: "zoek_instelling_provincie"
        in: "query"
        description: "Zoeken op provincienaam van de instelling."
        required: false
        type: "string"
        x-example: "Provincie Antwerpen"
      - name: "zoek_instelling_straatnaam"
        in: "query"
        description: "Zoeken op straatnaam van de instelling."
        required: false
        type: "string"
        x-example: "Jef Denynplein"
      - name: "page"
        in: "query"
        description: "page"
        required: false
        type: "integer"
        default: 1
        format: "int32"
      - name: "size"
        in: "query"
        description: "size"
        required: false
        type: "integer"
        default: 20
        format: "int32"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/MetaContentWrapperOfListOfInstellingOverzicht"
        "400":
          description: "Ongeldige request"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Uitzondering"
        "404":
          description: "Er zijn geen gegevens gevonden."
        "429":
          description: "Te veel aanroepen op te korte tijd"
        "500":
          description: "Er is een fout opgetreden."
      deprecated: false
  /instelling/{instellingsnummer}:
    get:
      tags:
      - "Instellingen"
      summary: "Detailfiche van een instelling."
      description: "Raadpleeg de detailgegevens van één instelling op basis van een\
        \ instellingsnummer."
      operationId: "findInstellingUsingGET"
      parameters:
      - name: "instellingsnummer"
        in: "path"
        description: "Sleutel om de instelling uniek te identificeren"
        required: true
        type: "integer"
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-example: 123456
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/InstellingDetail"
        "400":
          description: "Ongeldige request"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Uitzondering"
        "404":
          description: "Er zijn geen gegevens gevonden."
        "429":
          description: "Te veel aanroepen op te korte tijd"
        "500":
          description: "Er is een fout opgetreden."
      deprecated: false
securityDefinitions:
  ApiKeyAuthHeader:
    type: "apiKey"
    name: "x-api-key"
    in: "header"
  ApiKeyAuthQueryParam:
    type: "apiKey"
    name: "apikey"
    in: "query"
definitions:
  Bestuur:
    type: "object"
    properties:
      instellingsnummer:
        type: "integer"
        format: "int32"
        example: 123539
        description: "Instellingsnummer van het bestuur"
      naam:
        type: "string"
        example: "VZW Katholiek Onderwijs Mechelen en Omgeving"
        description: "Naam van het bestuur"
    title: "Bestuur"
    description: "Een bestuur/ inrichtende macht/schoolbestuur is een rechtspersoon\
      \ of natuurlijk persoon die verantwoordelijk is voor één of meer onderwijsinstellingen.\
      \ Een centrumbestuur is de inrichtende macht of orgaan die ten aanzien van het\
      \ centrum bestuurshandelingen verricht, in overeenstemming met de door de wet,\
      \ het decreet, het bijzonder decreet of de statuten toegewezen bevoegdheden.\
      \ \nEen overheid is ook een rechtspersoon en één IM is altijd een rechtspersoon.\
      \ Wat het GO betreft zijn deze bevoegdheden verdeeld over verschillende bestuursorganen\
      \ (cfr. het bijzonder decreet)."
  Clb:
    type: "object"
    properties:
      instellingsnummer:
        type: "integer"
        format: "int32"
        example: 114777
        description: "Instellingsnummer van het CLB"
      naam:
        type: "string"
        example: "Centrum voor leerlingenbegeleiding Het Kompas"
        description: "Naam van het CLB"
    title: "Clb"
    description: "Centrum voor leerlingenbegeleiding"
  CodeOmschrijving:
    type: "object"
    required:
    - "code"
    properties:
      code:
        type: "string"
      omschrijving:
        type: "string"
    title: "CodeOmschrijving"
  Directeur:
    type: "object"
    properties:
      naam:
        type: "string"
        example: "Cools"
        description: "Familienaam van de directeur"
      voornaam:
        type: "string"
        example: "Luk"
        description: "Voornaam van de directeur"
    title: "Directeur"
    description: "Directeur van de instelling"
  InstellingDetail:
    type: "object"
    properties:
      instelling_naam:
        type: "string"
        description: "Naam van de instelling"
      instelling_volledige_naam:
        type: "string"
        description: "Volledige naam van de instelling"
      instelling_nummer:
        type: "integer"
        format: "int32"
        description: "Nummer van de instelling"
      instelling_hoofdzetel_vestigingsnr:
        type: "integer"
        format: "int32"
        description: "Vestigingsnummer van de hoofdzetel van de instelling"
      instelling_postcode:
        type: "string"
        description: "Postcode waar de instelling gelegen is."
      instelling_gemeente:
        type: "string"
        description: "Gemeente waar de instelling gelegen is."
      instelling_straatnaam:
        type: "string"
        description: "Straatnaam waar de instelling gelegen is."
      instelling_huisnummer:
        type: "string"
        description: "Huisnummer waar de instelling gelegen is."
      instelling_busnummer:
        type: "string"
        description: "Busnummer waar de instelling gelegen is."
      instelling_provincie:
        type: "string"
        description: "Provincie waar de instelling gelegen is."
      instelling_niveau:
        description: "Niveau van de instelling"
        $ref: "#/definitions/CodeOmschrijving"
      instelling_buitengewoon:
        type: "boolean"
        description: "Aanduiding of de instelling gewoon of buitengewoon onderwijs\
          \ aanbiedt"
      instelling_biedt_deeltijds_aan:
        type: "boolean"
        description: "Instelling biedt deeltijds onderwijs aan."
      instelling_biedt_voltijds_aan:
        type: "boolean"
        description: "Instelling biedt voltijds onderwijs aan."
      instelling_net:
        description: "Specificeert het onderwijsnet waartoe de instelling behoort\
          \ Een onderwijsnet is een drie-indeling van het onderwijslandschap op basis\
          \ van het wettelijk statuut van de inrichtende macht/ het schoolbestuur/\
          \ centrumbestuur waartoe de onderwijsinstelling of het centrum behoort,\
          \ namelijk gemeenschapsonderwijs, officieel gesubsidieerd onderwijs en vrij\
          \ gesubsidieerd onderwijs Een onderwijsnet wordt ook net genoemd"
        $ref: "#/definitions/CodeOmschrijving"
      instelling_levensbeschouwing:
        description: "Specificeert de levensbeschouwing die de instelling volgt."
        $ref: "#/definitions/CodeOmschrijving"
      instelling_taalstelsel:
        description: "Specificeert het toegelaten taalstelsel van de instelling."
        $ref: "#/definitions/CodeOmschrijving"
      instelling_kbo_ondernemingsnummer:
        type: "string"
        description: "Specificeert het ondernemingsnummer van de instelling. Het ondernemingsnummer\
          \ is enkel van toepassing voor instellingen van het niveau schoolbestuur."
      instelling_kbo_vestigingseenheidsnummer:
        type: "string"
        description: "Specificeert het Vestigingseenheidsnummer van de instelling.\
          \ Het Vestigingseenheidsnummer is enkel van toepassing voor instellingen\
          \ van het niveau VWO."
      instelling_telefoon:
        type: "string"
        description: "Telefoonnummer van de instelling"
      instelling_email:
        type: "string"
        description: "E-mailadres van de instelling"
      instelling_website:
        type: "string"
        description: "Website van de instelling"
      instelling_directeur:
        description: "Directeur van de instelling"
        $ref: "#/definitions/Directeur"
      instelling_bestuur:
        description: "Een bestuur/ inrichtende macht/schoolbestuur is een rechtspersoon\
          \ of natuurlijk persoon die verantwoordelijk is voor één of meer onderwijsinstellingen.\
          \ Een centrumbestuur is de inrichtende macht of orgaan die ten aanzien van\
          \ het centrum bestuurshandelingen verricht, in overeenstemming met de door\
          \ de wet, het decreet, het bijzonder decreet of de statuten toegewezen bevoegdheden.\
          \ \nEen overheid is ook een rechtspersoon en één IM is altijd een rechtspersoon.\
          \ Wat het GO betreft zijn deze bevoegdheden verdeeld over verschillende\
          \ bestuursorganen (cfr. het bijzonder decreet).\n"
        $ref: "#/definitions/Bestuur"
      instelling_clb:
        description: "Centrum voor leerlingenbegeleiding"
        $ref: "#/definitions/Clb"
      instelling_scholengemeenschap:
        description: "Een scholengemeenschap is een vrijwillig tot stand gebracht\
          \ en geografisch afgebakend samenwerkingsverband tussen scholen waaraan\
          \ een aantal bevoegdheden worden toegekend."
        $ref: "#/definitions/Scholengemeenschap"
      internaat:
        description: "Instelling die opvang van leerlingen en/of studenten organiseert\
          \ buiten de openstelling van de school."
        $ref: "#/definitions/Internaat"
      instelling_begindatum:
        type: "string"
        format: "date"
        description: "Datum waarop de instelling opgericht is."
      instelling_einddatum:
        type: "string"
        format: "date"
        description: "Datum waarop de instelling opgeheven is."
      instelling_status_erkenning:
        description: "Status van de erkenning van de instelling."
        $ref: "#/definitions/CodeOmschrijving"
      instelling_type:
        description: "Type van de instelling"
        $ref: "#/definitions/CodeOmschrijving"
      instelling_hoofdstructuur:
        type: "array"
        description: "Hoofdstructuren die door een onderwijsinstelling ingericht worden"
        items:
          $ref: "#/definitions/CodeOmschrijving"
      instelling_pedagogische_methode:
        description: "Pedagogische methode van de instelling."
        $ref: "#/definitions/CodeOmschrijving"
      instelling_soort_bestuur:
        description: "Soort Bestuur van de instelling."
        $ref: "#/definitions/CodeOmschrijving"
    title: "InstellingDetail"
  InstellingOverzicht:
    type: "object"
    properties:
      instelling_naam:
        type: "string"
        description: "Naam van de instelling"
      instelling_nummer:
        type: "integer"
        format: "int32"
        description: "Nummer van de instelling"
      instelling_postcode:
        type: "string"
        description: "Postcode waar de instelling gelegen is."
      instelling_gemeente:
        type: "string"
        description: "Gemeente waar de instelling gelegen is."
      instelling_straatnaam:
        type: "string"
        description: "Straatnaam waar de instelling gelegen is."
      instelling_huisnummer:
        type: "string"
        description: "Huisnummer waar de instelling gelegen is."
      instelling_busnummer:
        type: "string"
        description: "Busnummer waar de instelling gelegen is."
    title: "InstellingOverzicht"
  Internaat:
    type: "object"
    properties:
      instellingsnummer:
        type: "integer"
        format: "int32"
        example: 123919
        description: "Instellingsnummer van het internaat"
      naam:
        type: "string"
        example: "Internaat Berthoutinstituut - Klein Seminarie 1"
        description: "Naam van het internaat"
    title: "Internaat"
    description: "Instelling die opvang van leerlingen en/of studenten organiseert\
      \ buiten de openstelling van de school."
  Link:
    type: "object"
    properties:
      deprecation:
        type: "string"
        xml:
          name: "deprecation"
          attribute: true
          wrapped: false
      href:
        type: "string"
        xml:
          name: "href"
          attribute: true
          wrapped: false
      hreflang:
        type: "string"
        xml:
          name: "hreflang"
          attribute: true
          wrapped: false
      media:
        type: "string"
        xml:
          name: "media"
          attribute: true
          wrapped: false
      rel:
        type: "string"
        xml:
          name: "rel"
          attribute: true
          wrapped: false
      templated:
        type: "boolean"
      title:
        type: "string"
        xml:
          name: "title"
          attribute: true
          wrapped: false
      type:
        type: "string"
        xml:
          name: "type"
          attribute: true
          wrapped: false
    title: "Link"
    xml:
      name: "link"
      namespace: "http://www.w3.org/2005/Atom"
      attribute: false
      wrapped: false
  MetaContent:
    type: "object"
    properties:
      total_elements:
        type: "integer"
        format: "int64"
        description: "Totaal aantal elementen dat voldoet aan de zoekopdracht"
      total_pages:
        type: "integer"
        format: "int32"
        description: "Totaal aantal pagina's"
      number:
        type: "integer"
        format: "int32"
        description: "Huidige paginanummer"
      number_of_elements:
        type: "integer"
        format: "int32"
        description: "Aantal elementen op deze pagina"
      size:
        type: "integer"
        format: "int32"
        description: "Aantal elementen per pagina"
      first:
        type: "boolean"
        description: "Aanduiding of het eerste element op huidige pagina staat"
      last:
        type: "boolean"
        description: "Aanduiding of het eerste element op huidige pagina staat"
    title: "MetaContent"
  MetaContentWrapperOfListOfInstellingOverzicht:
    type: "object"
    properties:
      links:
        type: "array"
        xml:
          name: "link"
          attribute: false
          wrapped: false
        items:
          $ref: "#/definitions/Link"
      meta:
        $ref: "#/definitions/MetaContent"
      content:
        type: "array"
        items:
          $ref: "#/definitions/InstellingOverzicht"
    title: "MetaContentWrapperOfListOfInstellingOverzicht"
  Scholengemeenschap:
    type: "object"
    properties:
      instellingsnummer:
        type: "integer"
        format: "int32"
        example: 112813
        description: "Instellingsnummer van de scholengemeenschap"
      naam:
        type: "string"
        example: "Scholengemeenschap voor katholiek secundair onderwijs Regio Mechelen"
        description: "Naam van de scholengemeenschap"
    title: "Scholengemeenschap"
    description: "Een scholengemeenschap is een vrijwillig tot stand gebracht en geografisch\
      \ afgebakend samenwerkingsverband tussen scholen waaraan een aantal bevoegdheden\
      \ worden toegekend."
  Uitzondering:
    type: "object"
    properties:
      identificatie:
        type: "string"
        description: "Identificatienummer van de foutmelding"
      diagnose:
        type: "string"
        description: "Omschrijving van de uitzondering"
      type:
        type: "string"
        description: "Het type van de uitzondering"
        enum:
        - "FOUT"
        - "WAARSCHUWING"
        - "INFORMATIEF"
      annotaties:
        type: "array"
        items:
          $ref: "#/definitions/UitzonderingAnnotatie"
    title: "Uitzondering"
  UitzonderingAnnotatie:
    type: "object"
    properties:
      naam:
        type: "string"
        description: "Naam van de annotatie"
      waarde:
        type: "string"
        description: "Waarde van de annotatie"
    title: "UitzonderingAnnotatie"
